@import "../mixins";
@import "../fonts";

.who-we-help {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: $font-base;
}

.who-we-help > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.who-we-help > div:first-child span {
  font-size: 2rem;
  font-weight: bold;
}

.who-we-help > div:first-child img {
  margin-top: 10px;
}

/* Button group for horizontal alignment */
.button-group {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.button-group button {
  @include button-style;
  width: auto;
  padding: 13px 30px;
  height: auto;
  border: none; // Remove default border
}

/* Active button state */
.button-group button.active {
  border: 1px solid black; // Adds black border when active
}
